.c-detalle-ciudad {
  padding: 5px 20px 20px 20px;

  .header-modal {
    position: relative;

    h2 {
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 50px;
      }
    }

    span {
      font-weight: 400;
    }

    span:nth-child(2) {
      cursor: pointer;
      position: absolute;
      right: -10px;
      top: -10px;
    }
  }

  .detalle-contenido {
    display: grid;
    /* Mobile first */
    grid-template-columns: 1fr;
    gap: 15px;

    .info-card {
      border-radius: 10px;
      background: #f1f1f1;
      padding: 10px;

      .title {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  /* Tablet */
  @media (min-width: 768px) {
    .detalle-contenido {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Desktop */
  @media (min-width: 1024px) {
    .detalle-contenido {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
